<form action="/products" method="post">
  <h1>Create Cable</h1>
  <div>
    Name:<input type="text" name="name"><br>
  </div>
  <div>
    Price:<input type="text" name="price"><br>
  </div>
  <div>
    Length:<input type="text" name="length"><br>
  </div>
  <div>
    Function:<input type="text" name="function"><br>
  </div>
  <div>
    Model Year:<input type="text" name="model_year"><br>
  </div>
  <div>
    Description:<input type="text" name="description"><br>
  </div>
  <div>
    In Stock:<input type="checkbox" name="in_stock"><br>
  </div>
  <div>
    Vendor:<input type="text" name="vendor"><br>
  </div>
  <div>
    <input type="submit" value="Create product">
  </div>
</form>